<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdn.lineicons.com/5.0/lineicons.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="/CSS/control.css">
</head>
<body>
<div class="sidebar">
    <div class="logo"></div>
    <ul class="menu">
        <li>
            <a th:href="@{/docsys/viewConfirmApt/{docId}(docId=${doc.docId})}">
                <i class="fa-solid fa-clipboard"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li class="active">
            <a th:href="@{/docsys/addTimeSlot/{docId}(docId=${doc.docId})}">
                <i class="fa-solid fa-clock-rotate-left"></i>
                <span>Time Slots</span>
            </a>
        </li>
        <li>
            <a th:href="@{/docsys/viewTimeSlots/{docId}(docId=${doc.docId})}">
                <i class="fa-regular fa-clock"></i>
                <span>View Time</span>
            </a>
        </li>
        <li>
            <a th:href="@{/docsys/viewPendingApt/{docId}(docId=${doc.docId})}">
                <i class="fa-regular fa-calendar-days"></i>
                <span>Appointments</span>
            </a>
        </li>
        <li>
            <a th:href="@{/docsys/updateDoctor/{docId}(docId=${doc.docId})}">
                <i class="fa-solid fa-gear"></i>
                <span>Setting</span>
            </a>
        </li>
        <li class="logout">
            <a th:href="@{/adminsys/adminLogout}">
                <i class="fa-solid fa-right-from-bracket"></i>
                <span>Log out</span>
            </a>
        </li>
    </ul>
</div>
<div class="main-content">
    <div class="header-wrapper">
        <div class="header-title">
            <div class="nav__logo">Health<span>Care</span></div>
            <span class="header-span">Doctor Dashboard</span>
        </div>
        <div class="user-info">
            <div class="search-box">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" placeholder="Search" class="search-input">
            </div>
            <div class="profile-pic">
                <img th:src="@{/adminsys/doctorImage/{docId}(docId=${doc.docId})}" alt="Doctor Image" class="doc-img">
            </div>
        </div>
    </div>
    <div class="tabular-wrapper">
        <div class="content-section">
            <!-- Add your main page content here -->
            <h2>Adding Time Slots</h2>
            <form th:action="@{/docsys/newTimeSlot/{docId}(docId=${doc.docId})}" method="post" th:object="${timeSlot}">
                <div class="form-group">
                    <label>Date</label>
                    <input type="date" name="date" th:field="*{date}">
                </div>
                <div class="form-group">
                    <label>Start Time</label>
                    <input type="time" name="startTime" th:field="*{startTime}">
                </div>
                <div class="form-group">
                    <label>End Time</label>
                    <input type="time" name="endTime" th:field="*{endTime}">
                </div>
                <button type="submit" class="btn-spec">Submit</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>