<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="stylesheet" href="https://cdn.lineicons.com/5.0/lineicons.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
  <link rel="stylesheet" href="/CSS/control.css">
</head>
<body>
<div class="sidebar">
  <div class="logo"></div>
  <ul class="menu">
    <li>
      <a th:href="@{/adminsys/itemView}">
        <i class="fa-solid fa-clipboard"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <li>
      <a th:href="@{/docsys/addTimeSlot/{docId}(docId=${doc.docId})}">
        <i class="fa-solid fa-clock-rotate-left"></i>
        <span>Time Slots</span>
      </a>
    </li>
    <li>
      <a th:href="@{/docsys/viewTimeSlots/{docId}(docId=${doc.docId})}">
        <i class="fa-regular fa-clock"></i>
        <span>View Time</span>
      </a>
    </li>
    <li>
      <a th:href="@{/docsys/viewPendingApt/{docId}(docId=${doc.docId})}">
        <i class="fa-regular fa-calendar-days"></i>
        <span>Appointments</span>
      </a>
    </li>
    <li>
      <a th:href="@{/docsys/updateDoctor/{docId}(docId=${doc.docId})}">
        <i class="fa-solid fa-gear"></i>
        <span>Setting</span>
      </a>
    </li>
    <li class="logout">
      <a th:href="@{/adminsys/adminLogout}">
        <i class="fa-solid fa-right-from-bracket"></i>
        <span>Log out</span>
      </a>
    </li>
  </ul>
</div>
<div class="main-content">
  <div class="header-wrapper">
    <div class="header-title">
      <span>Doctor</span>
      <h2>Dashboard</h2>
    </div>
    <div class="user-info">
      <div class="search-box">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="text" placeholder="Search">
      </div>
      <div class="profile-pic">
        <img th:src="@{/adminsys/doctorImage/{docId}(docId=${doc.docId})}" alt="Doctor Image" class="doc-img">
      </div>
    </div>
  </div>
  <div class="tabular-wrapper">
    <h2>Appointments</h2>
    <div class="table-container" th:if="${not #lists.isEmpty(pendApt)}">
      <table class="table">
        <thead class="thead">
        <tr class="trow">
          <th class="th">Appointment ID</th>
          <th class="th">Patient Name</th>
          <th class="th">Appointment Time</th>
          <th class="th">Status</th>
        </tr>
        </thead>
        <tbody class="tbody">
        <tr th:each="apt: ${pendApt}" class="trow">
          <td th:text="${apt.apptId}" class="td"></td>
          <td th:text="${apt.patient.patientFName}" class="td"></td>
          <td class="td"><span th:text="${apt.timeSlot.startTime}"></span> - <span th:text="${apt.timeSlot.endTime}"></span></td>
          <td class="td">
            <div>
              <form th:action="@{/docsys/confirmApt/{aptId}(aptId=${apt.apptId})}" method="post">
                <button type="submit" class="table-btn">Confirm</button>
              </form>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div th:if="${#lists.isEmpty(pendApt)}" class="no-item-message">
      No specialty to show.
    </div>
  </div>
</div>
</body>
</html>